.footer {
	border-top: 1px solid #eee;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
}

.marketing .jumbotron {
	padding-top: 20px;
}

.marketing .jumbotron #slogan {
	display: block;
	padding-top: 10px;
}

.validation-message {
  display: none;
}

.has-error .validation-message {
  display: block;
}

#contacts .success-container, #contacts .failure-container {
  display: none;
}

#contacts.message-sent #submit, #contacts.message-sending-failed #submit {
  display: none;
}

#contacts.message-sent .success-container {
  display: block;
}

#contacts.message-sending-failed .failure-container {
  display: block;
}
